@model IEnumerable<Shekru_Task.Models.Employee>

@if (!string.IsNullOrEmpty(ViewBag.Delete))
{
    <script>
        // Show the alert message
        alert('@ViewBag.Delete');

        // Add a delay (optional)
        setTimeout(function () {
            // This part is optional, you can remove it if you don't want a delay
            // The alert will automatically disappear when the user clicks OK
        }, 3000); // 3000 milliseconds (3 seconds)
    </script>
}

@{
    ViewData["Title"] = "emp";
    Layout = "_Layout";
}
<script>
    if ('@TempData["Success"]' != '') {
        alert('@TempData["Success"]');
    }
</script>
<main id="main" class="main" style="margin-left: 0 !important;">
   

    <section class="section" style="overflow-x: auto; height: 500px;">
        <!-- Table to display quizzes -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <br />
                        <table id="tblQuizzes" class="table datatable table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="background-color: #012970; color: white; text-align: center;">First Name</th>
                                    <th scope="col" style="background-color: #012970; color: white; text-align: center;">Last Name</th>
                                    <th scope="col" style="background-color: #012970; color: white; text-align: center;">Email </th>
                                    <th scope="col" style="background-color: #012970; color: white; text-align: center;">phone number</th>

                                    <th scope="col" style="background-color: #012970; color: white; text-align: center;">Designation ref</th>
                                    <th scope="col" style="background-color: #012970; color: white; text-align: center;">designation grade</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var emp in Model)
                                {
                                    <tr>

                                        <td>@emp.Firstname</td>

                                        <td>@emp.Lastname</td>
                                        <td>@emp.EmailAddress</td>
                                        <td>@emp.Phonenumber</td>

                                        <td>@emp.DesignationRef</td>
                                        <td>@emp.Graderef</td>



                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-three-dot dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <div class="dropdown-item-container">
                                                        <a class="dropdown-item edit-action" asp-action="Edit" asp-route-id="@emp.Id" title="Edit">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- DataTables -->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize DataTable
            $("#tblQuizzes").DataTable({
                responsive: true,
                lengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                filter: true,
                sort: true,
                paginate: true
                // Add more options as needed
            });
        });
    </script>
}


